<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>Welcome, {{ session['username'] }}</h2>
    <a href="/add_movie">Add Movie</a>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie[1] }}</td>
                <td>{{ movie[2] }}</td>
                <td>{{ movie[3] }}</td>
                <td>
                    <a href="/edit_movie/{{ movie[0] }}">Edit</a>
                    <a href="/delete_movie/{{ movie[0] }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>